*.ipch
*.tlog
*.js
*.html
*.pdb
*.png
*.log
*.lplog
*.lib
*.gold
*.json
*.cache
*.dll
*.ipdb
*.iobj
*.user
*.filters
*.sdf
*.suo
*.prefs
packages
tinyxml2-master
*.vspx
lloyd-yajl-66cb08c
.vs
release
releasex64
VerbNet
verbnet-3.1
target
lists
bin
obj
