@page
@model LPWeb.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>About LP</h1>
    <p>
        LP is created as a conversational agent.  It is meant to learn from input, and so become more attuned to each individual over time.
    </p>

</section>