.mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-width: 700px !important;
  max-height: 300px !important;
  overflow: scroll !important;
}

.mat-menu-item{
  line-height:25px;
  height:25px;
}

amenu {
  min-width: 700px !important;
  max-height: 300px !important;
  overflow: scroll !important;
}

.matAgentMenu {
  min-width: 700px !important;
  max-height: 300px !important;
  overflow: scroll !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden
}

body.waiting * {
  cursor: progress !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-checkbox {
  display: block !important;
}

/* main window contains:
  select-search height 60
  info-area height 40
  meta-information height 100
  source-element - grow
  wordinfo-table - height 200
 */
.main-window {
  max-width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 10px;
  display: grid;
  grid-template-areas:
        "header"
        "source-element"
        "footer";
  grid-gap: 5px;
  grid-template-rows: 200px 1fr 400px;
  background-color: #fff;
}

header{
  grid-area: header;
  height: 200px;
  color: #9f9c9c;
  text-transform: uppercase;
  border-bottom: 2px solid #b0e0ea;
  padding: 0px 0;
  display: grid;
  grid-template-rows: 1fr 1fr;

}

footer {
  grid-area: footer;
  color: #fff;
  text-align: left;
  padding: 0px 0;
  bottom: 0;
  background-color: #9f9c9c;
  height: 400px;
  overflow: auto;
  display: grid;
  grid-template-areas:
        "wordinfo"
        "timeline";
  grid-gap: 5px;
  grid-template-rows: 195px 195px;
}

.select-search {
  width: 100%;
  border: 2px solid #4CAF50;
  height: 60px;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "select search"
}

.select-source {
  grid-area: select;
}

.search-results {
  grid-area: search;
}

.info-area {
  width: 100%;
  border: 2px solid #4CAF50;
  height: 40px;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 0.2fr 1fr 1.5fr 1fr 0.2fr;
  grid-template-areas:
    "preferences range agents chapters reload"
}

.preferences-menu {
  grid-area: preferences;
}

.current-source-range {
  padding: 10px 0;
  text-align: center;
  grid-area: range;
}

.chapters-menu {
  grid-area: chapters;
}

.agents-menu {
  grid-area: agents;
}

.agentMenuItem {
  max-width:700px !important;
}

.reload {
  grid-area: reload;
}

.meta-information {
  width: 100%;
  border: 2px solid #4CAF50;
  height: 100px;
}

.source-element {
  border: 2px solid #4CAF50;
  width: 100%;
  overflow: auto;
}

.wordinfo {
  grid-area: wordinfo;
  text-align: center;
  overflow: auto;
}

.wordinfo-table {
  border: 2px solid #4CAF50;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

.timeline {
  grid-area: timeline;
  text-align: center;
  overflow: auto;
}

.timeline-tree {
  border: 2px solid #4CAF50;
  bottom: 0;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-row {
  border: 1px solid #e7e7e7;
  height: 20px !important;
  min-height: 20px !important;
}

th.mat-header-cell, td.mat-cell {
  text-align: left;
  border-right: 1px solid black;
  padding: 2px 2px 2px 2px;
}

.timeline-tree-invisible {
  display: none;
}

.timeline-tree ul,
.timeline-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.timeline-tree .mat-nested-tree-node div[role=group] {
  text-align: left;
  align-items: flex-start;
  padding-left: 20px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.timeline-tree div > .mat-tree-node {
  text-align: left;
  align-items: flex-start;
  padding-left: 40px;
  min-height: 15px;
}
